
.dashboard-main {
  background-color: var(--bg-main-color);
  height: 100vh;
}
.dashboard {
  background-color: var(--bg-main-color);
  width: 100%;
  display: flex;
  margin-top: 1.5rem;
  justify-content: center;
  a {
    text-decoration: none;
    margin: 0rem 1.5rem;
    div {
      width: 16rem;
      height: 12rem;
      background-color: var(--bg-secondary-color);
      box-shadow: 0px 0px 10px 5px rgb(0, 0, 0, 0.09);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 5px;
      padding: 1rem;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
      img {
        width: 40%;
      }
      h1 {
        font-size: 1.3rem;
        color: var(--text-main-color);
        margin-bottom: 0.3rem;
        letter-spacing: 1px;
      }
      p {
        font-size: 0.8rem;
        color: var(--text-main-color);
        margin-bottom: 0.3rem;
      }
    }
  }
}

.hover-effect {
  transform: scale(1.1);
}

@media only screen and (max-width: 970px) {
  .dashboard {
    margin-top: 2rem;
    a{
      div {
        width: 12rem;
        height: 8rem;
        img {
          width: 30%;
        }
        h1 {
          font-size: 1.1rem;
        }
        p {
          font-size: 0.6rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .dashboard {
    flex-direction: column;
    align-items: center;
    margin: 0rem;
    a {
      margin: 1rem 0rem;
      div {
        width: 12rem;
        height: 8rem;
        img {
          width: 35%;
        }
        h1 {
          font-size: 1.1rem;
        }
        p {
          font-size: 0.6rem;
        }
      }
    }
  }
}
