.meeting-main{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-main-color);
}
.user-meeting{
    padding: 1.5rem;
    background-color: var(--bg-main-color);
   
    table {
        width: 100%;
        border-collapse: collapse;
    
        td,
        th {
          border: 1px solid var(--text-secondary-color);
          padding: 0.5rem;
        
        }
        th {
          background-color: var(--text-main-color);;
          color: var(--bg-main-color);
          text-align: left;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
    
        tr {
            background-color: var(--bg-main-color);
            color: var(--text-main-color);
          &:nth-child(even) {
            background-color: var(--bg-secondary-color);
          }
          &:hover {
            background-color: var(--table-hover);
          }
        }
        td{
          button{
            font-size: 1.1rem;
            cursor: pointer;
            outline: none;
            border: none;
            background-color: transparent;
          }
        }
    }

}

@media only screen and (max-width: 900px){
  .user-meeting{
    padding: 1.2rem;
  }
}
@media only screen and (max-width: 700px){
  .user-meeting{
    padding: 0.5rem;
    overflow-x:scroll ;
    table {
      td{
        font-size: 0.7rem;
        a{
          font-size: 0.5rem;
        }
      }
      
      th {
        font-size: 0.8rem;
      }
  
  }
  }

}